<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Menampilkan Pengajuan Peminjaman Ruangan</title>
    </head>
    <body>
    
   	 	
       	<h3 th:text="'id_ruang = ' + ${peminjamanruang.id_ruang}">Id Ruang</h3>
       	<h3 th:text="'id_mahasiswa = ' + ${mahasiswa.nama}">Id Mahasiswa</h3>
       	<h3 th:text="'id_mahasiswa = ' + ${mahasiswa.npm}">Id Mahasiswa</h3>
       	<h3 th:text="'waktu_mulai = ' + ${peminjamanruang.waktu_mulai}">Waktu Mulai</h3>
       	<h3 th:text="'waktu_selesai = ' + ${peminjamanruang.waktu_selesai}">Waktu Selesai</h3>
       	<h3 th:text="'tanggal_mulai = ' + ${peminjamanruang.tanggal_mulai}">Tanggal Mulai</h3>
       	<h3 th:text="'tanggal_selesai = ' + ${peminjamanruang.tanggal_selesai}">Tanggal Selesai</h3>
       	<h3 th:text="'tujuan = ' + ${peminjamanruang.tujuan}">Tujuan</h3>
       	<h3 th:text="'keterangan = ' + ${peminjamanruang.keterangan}">Keterangan</h3>
       	<h3 th:text="'jumlah_peserta = ' + ${peminjamanruang.jumlah_peserta}">Jumlah Peserta</h3>
       	<h3 th:text="'fasilitas = ' + ${peminjamanruang.fasilitas}">Fasilitas</h3>
       	<h3 th:text="'Disetujui = ' + ${peminjamanruang.is_disetujui}">Disetujui</h3>
       	<h3 th:text="'disetujui_oleh = ' + ${peminjamanruang.disetujui_oleh}"> Disetujui oleh</h3>
    </body>
</html>

